* {
    box-sizing: border-box;
    /* margin: 0%; */
}

body {
    margin: 0;
    height: 100vh;
}

#root {
    height: 100%;
}

.app {
    display: flex;
    height: 100%;
    /* width: 100vw; */
    /* justify-content: space-between; */
}

.main {
    flex: 0.5;
}