* {
    box-sizing: border-box;
    /* margin: 0%; */
}

body {
    margin: 0;
    /* height: 100vh; */
    /* background: rgb(235, 235, 235); */

}

#root {
    /* height: 100%; */
}

.app {
    display: flex;
    height: 100vh;
    min-height: min-content;
    /* width: 100vw; */
    /* justify-content: space-between; */
}

.main {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    /* overflow-y: auto; */
    /* height: calc(100% - 70px); */
}

.home {
    /* flex: 0.5; */
    /* width: 66%; */
    width: fit-content;
}
.main_questions {
    min-width: 66%;
}
.main_content {
    overflow-y: auto;
}

.content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    margin: 0px 20px;
}

.content_button {
    background: rgb(10,149,255);
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    min-width: 115px;
    width: max-content;
    text-decoration: none;
    outline: none;
    border: 1px solid transparent;
}

.content_button:hover {
    cursor: pointer;
}

.content_button:active {
    /* background-color: white; */
    /* color: rgb(10, 149, 255) */
    border: solid black 1px;
}